.content {
    display: block;
    padding: var(--spacing) var(--spacing-large);
    border-radius: 10px;
    background-color: var(--articleBlobGrey);
    margin-bottom: var(--spacing-large);

    &:last-child {
        border-bottom: 0;
        margin-bottom: 0;
    }
}

.title {
    color: var(--black);
    text-decoration: none;
    font-size: var(--large);
    font-weight: var(--bold);

    .originSite {
        font-size: var(--small);
        font-weight: var(--regular);
    }
}

.meta {
    display: flex;
    flex-direction: row;
    
    div {
        font-size: var(--small);
    }

    .score {
        max-width: 100px;
        // margin-right: var(--spacing);
    }

    .author {
        flex: 1;
        // margin-left: var(--spacing);
    }
}

.comments {
    font-size: var(--x-small);
    text-transform: uppercase;
    font-weight: var(--bold);
    margin-top: var(--spacing);
}
