.wrapper {
    background-color: var(--headerBlack);
    height: var(--headerHeight);
}

.content {
    padding-top: var(--spacing-large);
    padding-bottom: var(--spacing-large);
    h4 {
        color: var(--white);
        font-weight: 600;
    }
}

