:root {
    /* Specific Colours */
    --headerBlack: #333333;
    --footerGrey: #e0e0e0;
    --articleBlobGrey: #efefef;

    /* Generic Colours */
    --white: #ffffff;
    --black: #333333;

    /* Padding & Margins */
    --spacing-small: 5px;
    --spacing: 10px;
    --spacing-large: 20px;
    --spacing-xlarge: 40px;

    /* Font sizes */
    --x-small: 10px;
    --small: 12px;
    --regular: 14px;
    --large: 20px;
    --x-large: 30px;

    /* Font Weights */
    --thin: 300;
    --regular: 400;
    --medium: 500;
    --mediumBold: 600;
    --bold: 700;

    /* Constants */
    --headerHeight: 80px;
    --footerHeight: 60px;
}