:root {
    /* Specific Colours */
    --headerBlack: #333333;
    --footerGrey: #e0e0e0;

    /* Generic Colours */
    --white: #ffffff;

    /* Padding & Margins */
    --spacing-small: 5px;
    --spacing: 10px;
    --spacing-large: 20px;
    --spacing-xlarge: 40px;

    /* Constants */
    --headerHeight: 80px;
    --footerHeight: 60px;
}